@model List<Product>


<div class="row">

    @foreach (var product in Model)
    {
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@product.ImageUrl" alt="Card image alt">
                <div class="card-body">
                    <h5 class="card-title">@product.ProductName</h5>
                    <p class="card-text">@product.Description</p>
                    <label>Price: @product.Price</label>
                    <a href="#" class="btn btn-success">Add to cart</a>
                </div>
            </div>

        @using (Html.BeginForm("AddProduct", "Products"))
        {

            <input type="hidden" name="url" value="@Url.RouteUrl(ViewContext.RouteData.Values)" />
            <input type="hidden" name="ProductName" value="@product.ProductName" />
            <input type="hidden" name="Description" value="@product.Description" />
            <input type="hidden" name="Price" value="@product.Price" />
            <input type="hidden" name="ImageUrl" value="@product.ImageUrl" />

        }
    }

</div>

