@model List<Product>


<div class="row">
    @foreach (var product in Model)
    {
       
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@product.ImageUrl" alt="Card image alt">
            <div class="card-body">
                <h5 class="card-title">@product.ProductName</h5>
                <p class="card-text">@product.Description</p>
                <label>Price: @product.Price</label>
                @Html.ActionLink("Add to cart", "Beer", product, new { @class = "btn btn-success" })
            </div>
        </div>
    }
</div>

